## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [7]:
# Your code here
sample_list_1=random.sample(range(0,100),80)
print(sample_list_1)
len(sample_list_1)

[21, 66, 8, 22, 96, 16, 45, 58, 92, 83, 88, 1, 9, 31, 79, 77, 24, 80, 82, 67, 37, 70, 51, 17, 47, 53, 65, 81, 85, 46, 28, 94, 34, 39, 69, 76, 52, 2, 56, 29, 89, 11, 41, 62, 61, 44, 68, 60, 19, 93, 42, 74, 71, 90, 6, 49, 43, 10, 75, 5, 57, 38, 50, 33, 18, 36, 95, 40, 32, 97, 98, 63, 59, 0, 23, 91, 4, 64, 48, 12]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
# Your code here

set1=set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [37]:
# Your code here
sample_list_2=[]
for i in range(80):
    x_i=random.randint(0,100)
    sample_list_2.append(x_i)
print(sample_list_2)

[61, 62, 36, 34, 25, 89, 93, 51, 86, 67, 37, 31, 43, 44, 57, 13, 53, 67, 36, 71, 99, 40, 98, 73, 34, 10, 20, 41, 94, 96, 12, 5, 22, 99, 60, 13, 83, 83, 84, 70, 19, 28, 29, 28, 62, 30, 62, 14, 59, 17, 42, 29, 42, 63, 2, 9, 68, 60, 80, 91, 28, 11, 25, 28, 33, 97, 41, 75, 73, 93, 72, 99, 6, 17, 24, 71, 14, 98, 71, 49]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [39]:
# Your code here
set2=set(sample_list_2)
len(set2)

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [44]:
# Your code here
set3=set()
for x in set1:
    if x in set2:
        pass
    else: 
        set3.add(x)
print(set3)

{0, 1, 4, 8, 16, 18, 21, 23, 32, 38, 39, 45, 46, 47, 48, 50, 52, 56, 58, 64, 65, 66, 69, 74, 76, 77, 79, 81, 82, 85, 88, 90, 92, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [45]:
# Your code here
set4=set()
for x in set2:
    if x in set1:
        pass
    else: 
        set4.add(x)
print(set4)

{99, 72, 73, 13, 14, 20, 84, 86, 25, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [46]:
# Your code here
set5=set()
for x in set1:
    if x in set2:
        set5.add(x)
    else: 
        pass
print(set5)

{2, 5, 6, 9, 10, 11, 12, 17, 19, 22, 24, 28, 29, 31, 33, 34, 36, 37, 40, 41, 42, 43, 44, 49, 51, 53, 57, 59, 60, 61, 62, 63, 67, 68, 70, 71, 75, 80, 83, 89, 91, 93, 94, 96, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [56]:
# Your code here
print(len(set3)==len(set1)-len(set2),
len(set4)==len(set2)-len(set1),
len(set5)==len(set4)+len(set3))

False False False

#### Create an empty set called `set6`.

In [63]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [64]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [65]:
# Your code here
set1==set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [68]:
# Your code here
print(set2.issubset(set1),
set3.issubset(set1))

False True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [74]:
# Your code here
union1=set3.union(set4)
union2=union1.union(set5)

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here